<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<form action="/bunty">
  <input type="text" name="name">
  <input type="submit" value="Submit">
  </form>
<div style='border: 4px solid brown'>
  <img src='https://i.ytimg.com/vi/mZ_CDMyz374/maxresdefault.jpg'>
 </div>"
